:root {
  --alert-color: #444444; /* 어두운 경고 색상 */
  --primary-highlight-color: #FFB2B2; /* 메인 강조 색상 */
  --secondary-highlight-color: #444444; /* 보조 강조 색상 */

  --main-bg-color: #848484; /* 메인 배경 색상 */
  --portfolio-bg-color: #848484; /* 포트폴리오 배경 색상 */

  --secondary-bg-color: #3d3d3d; /* 보조 배경 색상 */
  --contribution-bg-color: #444444; /* 기여도 배경 색상 */

  --header-footer-color: #050505; /* 헤더와 푸터 색상 */

  /* 폰트컬러 */
  --font-color: #e0e0e0; /* 기본 폰트 색상 */
  --font-color2: #cccccc; /* 보조 폰트 색상 */
  --font-color3: #ffffff; /* 강조된 폰트 색상 */
}